html {
    background-color: aliceblue;
    
}
body {
    padding-inline-start: 2rem;
}
h1 {
    padding-top: 1rem;
}

h2 {
    margin-inline-start: 1rem;
}

.hit_parade {
    background-color: white;
    width: 200px;
    padding: 50px;
    border-radius: 5px;
    padding-top: 0;
}

fieldset {
    margin: 1rem;
    border: 0;
    padding : 0;
}

input {
    background-color: rgb(231, 228, 228);
    border-radius: 5px;
    padding: 0.5rem;
   
}

.add-buttom {
    background-color: teal;
    color: white;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-inline-start: 1rem;
}

select {
    background-color: rgb(231, 228, 228);
    padding: 0.5rem;
    border-radius: 5px;
}
.field_reset {
    margin: 0;
    margin-right: 1rem;
}

.reset_song {
 margin: 0;
}



.reset_button {
    text-transform: uppercase;
    color: rgb(64, 147, 224);
    height: 35px;
    margin-block-start: 1rem;
   
   
}

li {
    justify-content: space-between;
    margin-inline-start: 1rem;
    margin-inline-end: 1rem;
}

.reset_song {
    display: flex;
}

.table_value {
  padding: 2rem;
}

.table_score {
    text-transform: uppercase;
    font-weight: 700;
}


.infolist {
    background-color: white;
    top: 0;
    padding: 1rem;
    border-radius: 5px;
    list-style: none;
    display: flex;
}

.plus_button {
    background-color: rgb(119, 119, 214);
    border-radius: 5px;
}

.table_for_input_value {
    display: block;
}